.header {
    background-image: url('../assets/background-desktop.png');
    height: 600px;
}

main {
    margin: 0;
}

.form {
    right: 405px;
    margin: 0 auto;
    width: 350px;
    height: 600px;
    padding: 182px 30px;
    h2{
        font-size: 36px;
        line-height: 43.2px;
    }
    input{
        margin-top: 0;
    }
    .btn {
        height: 60px;
        width: 100%;
    }
}



.pic-container{
    width: 540px;
    margin: 1em 0;
}

.containers, .containers-2{
    width: 1110px;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.containers-2{
    padding-bottom: 0;
    .pic-container{
        margin: 0;
    }
}

.container {
    padding: 0;
    width: 350px;
    height: 200px;
    padding: 60px 30px;

    article{
        padding: 0;
        margin-left: 30px;
    }

}

.btn-link{
    margin: 86px 0;
}

.thumbs {
    padding-top: 0;
}