.header {
    background-image: url('../assets/background-tablet.png');
    height: 300px;
    
}

h2 {
    font-size: 36px;
    line-height: 44.6px;
    padding: 0;
    margin: 1.2em 0;
    vertical-align: middle;
}

.containers{
    width: 690px;
    margin: 0 auto;
}

.container {
    justify-content: start;
    padding: 0.5em 2em;
    article{
        padding: .5em 0;
        margin-left: 2em;
        height: 70px;
    }
}

.cards-2{
    h2{
        font-size: 24px;
    }
}

.containers-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    padding: 1em 0;
    height: 382px;
}

.pic-container {
    display: flex;
    width: 540px;
    height: 160px;
    text-align: left;

    margin: 0;
    padding: 1.9em;
    article{
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    img{
        padding: 0;
    }
    h4{
        padding: 0 0 1em 0;
    }
}

.form {
    position: absolute;
    top: 0;
    right: 15px;
    width: 330px;
    height: 300px;

    .btn {
        height: 60px;
        width: 100%;
    }
}


.btn-link {
    grid-row: unset;
    width: 540px;
    height: 60px;
    text-align: center;
    padding: 1.3em;
}



footer{
    margin-top: 2em;
    padding: 1em 2em;
}

.links {
    margin-bottom: 1em;
    flex-direction: row;
    margin: 1em auto;
    margin-top: 0;
    a{
        margin: 0 1em;
    }
}

.arrow{
    position: relative;
    width: 2.2em;
    margin: 0;
    left: 13em;
    top: 3.9em;
}