$heading: #3F3F3F;
$body: #373737;
$form: #424242;
$border: #DCDCDC;

$yellow: #FFDE25;
$orange: #F16529;
$blue: #1699D3;

@mixin arrowDown {
    height: 0;
    width: 0;
    border-top: 40px solid #1699D3;
    border-left: 33px solid white;
    border-right: 33px solid white;
    outline: none;
}


@keyframes fadein {
    0%      { opacity: 0; top: 0; }
    20%     { opacity: 1; top: 3em; }
    80%     { opacity: 1; top: 3em; }
    100%    { opacity: 0; top: 0; }
}